<div class="container">
<app-new-operation (addOperation)="addOperation($event)"></app-new-operation>
<app-currencies [currencies]="currencies | async"
                [selectedCurrency]="selectedCurrency | async"
                (changeCurrency)="onCurrencySelected($event)"></app-currencies>
<app-operation-list [operations]="operations | async"
                [selectedCurrency]="selectedCurrency | async"                
                (decrementOperation)="decrementOperation($event)"
                (incrementOperation)="incrementOperation($event)"
                (deleteOperation)="deleteOperation($event)"                
                 ></app-operation-list>  
</div>